@import './../../../styles.scss';

:host {
  @include dFlex($jc: space-between);
  width: 100%;
  height: 110px;
  padding: 37px 100px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.left {
  @include dFlex();
  img {
    object-fit: contain;
    width: 150px;
    height: 35px;
  }
}

.right{
    @include dFlex();
    gap: 92px;
    >nav{
        @include dFlex();
        gap: 29px;
        >a{
            font: 23px "Poppins";
            &:hover{
                color: $g;
            }
            &.active{
                color: $g;

            }
        }
    }
    >.language{
        @include dFlex();
        gap: 14px;
        >.btn{
            @include dFlex();
            border: 1px solid $g;
            border-radius: 10px;
            padding: 5px;
            width: 38px;
            height: 32px;
            font: 18px "Poppins";
            &:hover{
                border-color: $p;
                background-color: $p;
            }
            &.active{
                font: 18px "Poppins-Bold";
                background-color: $g;
                border-color: $g;
            }
        }
    }
}
